video{
    display: block;
    max-width: 1000px;
    margin: auto;
}
h2{
    text-align: center;
}
a{
    margin: auto;
}
.episode{
    background-color: #000000;
}
.titre_episode{
 color: #999;
}